@import '~antd/dist/antd.less';

.main-header{
  display: flex;
  background-color: beige;
  height: 100px;
}
.main-menu {
  background-color: beige;
  height: 100%;
}
.logo{
  margin-right: 50px;
}
.main-content{
  background-image: url(../images/Fondo.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 64px - 70px);
}

