@import '~antd/dist/antd.less';


.main_donations{
    margin-top: 15px !important;
    margin-left:50px !important;
}
.tittle1{
    font: oblique bold 250% cursive !important;
    color: orangered !important;

}

.seconttittle{
    font-style: oblique;
    font-size: 30px;
    color: orangered !important;
}
h1{
    font: oblique bold 250% cursive !important;
}
.tittle2{
    font: oblique bold 250% cursive !important;
    color: orangered !important;
}
.paragraphoption{
    font: oblique bold 150% cursive !important;
}

