@import '~antd/dist/antd.less';

.paragraph{
  font-style: oblique;
  font-size: 20px !important;
  padding: 8px 0;
  color: black !important;
}



.buttonopt{
  font-style: oblique;
  font-size: 20px;
  color: black;
  background: limegreen !important;
  margin-left:50px;

}