@import '~antd/dist/antd.less';


h1{
    text-align: center;
    font-size: 70px;
}
.buttonoptiond{
    align-content: center !important;
    width: 325px!important;
    font-size: 20px !important;
    border-radius: 15px !important;
    text-align: center !important;
    font-style: oblique;
    background: #019875 !important;
    color:white!important;
    margin-top: 15px;

}
.paragraphfrase{
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}

h1{
    font-style: oblique !important;
    color: orangered !important;
}

.contentd{
    margin-left:80px !important;
}