@import '~antd/dist/antd.less';


h1{
    text-align: center;
    font-size: 70px;
}
.buttonoption{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px !important;
    border-radius: 15px !important;
    text-align: center !important;
    font-style: oblique;
    color: black;
    background: limegreen !important;
}
.paragraphfrase{
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}

h1{
    font-style: oblique !important;
    color: orangered !important;
}