
.desarrolladores{
  margin:0 auto;
  width: 150px;
  height: 200px;
  float: right;
}
.conten {
  position: absolute;
}

p {
  font: oblique bold 120% cursive;
}

h1 , h3 {
  font: oblique bold 160% cursive;
}

img {
  width: 550px;
  border-radius: 100%;
}

.col-6 {
  padding-top: 50px;
}

.col-12 {
  background: #FFC7C8;
  text-align: center;
  padding: 50px;
}