.main-reg{
  margin: 50px;
  padding: 20px;
  background: #019875;
}

.title-reg{

  font: oblique bold 120% cursive;
  margin: 0;
}

.photo{
  background: #6EBFB6;
  padding: 30px;
}

.form-reg{
  background: #FFC7C8;
  padding: 30px;
}