.Main{
	display: inline-block;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#header{
	background-color: #e8505b;
}
body{
	background-image: url(picture/fondo.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#Formu{
	
	align-items: center;
	text-align: center;
	justify-content: center;


}
#datos{
	height: 500px;
}
#img{
	width: 100%;
	height: 500px;
	object-fit: contain;
	object-position: center center;
	opacity: 0.8;
	border-radius: 250px;
}

h1{
	font-family: 'Lobster', cursive;
}
h3{
	font-family: 'Francois One', sans-serif;
}
.btn{
	margin-top: 20px;
	background-color: #77D353;
}
footer{

	background-color: #00A6FF;
	color: #47525E;
}
.fab{
	color: #47525E;
}
.nav-link{
	color: #47525E;
}
input{
	border-radius: 5px;
	background-color: #8fd6af;
}